h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.rows-container {
  display: grid;
  box-sizing: border-box;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 0.5vw;
  max-width: 500px;
  width: 96vw;
  max-height: 500px;
  height: 96vw;
  margin: 1rem 0rem;
  font-weight: 700;
}


.game-state {
  display: flex;
  flex-direction: 'column';
  justify-content: center;
  align-content: center;
}

.player {
  font-weight: 700;
}

.score-group {
  margin-right: 1rem;
}

.btn-wrapper {
  margin: 1rem 0rem;
}

.board {
 width: 100%;
}